<launch>
	<!-- ========================================================== -->
	<!-- Configuration of COLOSSEUM hardware.                       -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
	<!-- ========================================================== -->

	<include file="$(find camera1394v2)/launch/camera_colosseum.launch" />
	<include file="$(find config)/launch/flybowl_80mm.launch" /> 
	<include file="$(find fivebar)/launch/fivebar.launch" />
	
	<include file="$(find calibration)/calibration_data/calibration_colosseum.launch" />
</launch>
	
	