<launch>

	<!-- ========================================================== -->
    <!-- This file points to the hardware-specific .launch file of  -->
    <!-- the HARDWARE you are using.                                -->
    <!--                                                            -->
    <!-- Only point to the single appropriate hardware-specific     -->
    <!-- .launch file from here.                                    -->
	<!-- ========================================================== -->
    
    <include file="$(find config)/launch/babycarrot.launch" />
     
</launch>
