<launch>
    <!-- This file points to the .launch file of the mechanism you are using.
         Please put all the params, nodes, etc, in the specific launch file. -->
    
    
	     <include file="$(find Fivebar)/launch/Fivebar.launch" />
	<!-- <include file="$(find nullmotor)/launch/nullmotor.launch" /> -->
</launch>
