<launch>

    <!-- ========================================================== -->
    <!-- Configuration of the camera attached to the FLAPPY.        -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the flappy.launch file, and point here              -->
    <!-- from there.                                                -->
    <!-- ========================================================== -->

    <param name="camera/image_rect/compressed/format" type="string" value="png" />
    <include file="$(find flappy)/launch/params_camera.launch"              ns="camera" />
    
    <node name="camera"           pkg="camera_aravis"  type="camnode"       />
    <node name="image_proc"       pkg="image_proc"     type="image_proc"    ns="camera" />
    <node name="image_analysis"   pkg="ImageAnalysis"  type="ImageAnalysis" ns="camera" />
    <node name="view_tracking"    pkg="image_view"     type="image_view"    ns="camera"  args="image:=image_raw" />  
    <node name="view_analysis"    pkg="image_view"     type="image_view"    ns="camera"  args="image:=image_analysis" />  
  
</launch>
