<launch>

    <!-- A:  Get input from the camera, and from the background image file. -->

    <include file="$(find flappy)/launch/camera_tracking.launch" />
    
    <node name="OriginateBackground"         pkg="tracking" type="OriginateBackground.py" />
    <node name="OriginateCalibrationCamera"  pkg="arena_tf" type="OriginateCalibrationCamera.py" />
    <node name="OriginateCalibrationStage"   pkg="arena_tf" type="OriginateCalibrationStage.py" />
    
</launch>
