<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the FLAPPY hardware.                      -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
	<!-- ========================================================== -->

    <include file="$(find flappy)/launch/params_tracking.launch" />
    <include file="$(find flappy)/launch/params_calibration.launch" />

    <!-- <include file="$(find flappy)/launch/params_ledpanels.launch" /> -->
    <!-- <include file="$(find flappy)/launch/params_galvos.launch" /> -->
    <!-- <include file="$(find flappy)/launch/camera_tracking.launch" /> -->

	<!-- <include file="$(find flybowls)/launch/heatbowl_85mm.launch" />  -->
	<!-- <include file="$(find LEDPanels)/launch/main.launch" /> -->
	<!-- <include file="$(find galvodirector)/launch/main.launch" /> -->

	
    <!-- <include file="$(find flappy)/launch/camera_aux.launch" /> -->
    <include file="$(find flappy)/launch/camera_tracking.launch" />
    <include file="$(find flappy)/launch/camera_flir.launch" />

	
</launch>
	
	
