<launch>
	<!-- ========================================================== -->
	<!-- Configuration of a single simple MOTOR.                    -->
    <!--                                                            -->
    <!-- Edit this file to describe the motor hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the hardware-specific .launch file, and point here  -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->
    
	<param name="robot_description" textfile="$(find motorarm)/motorarm_urdf.xml" />
	<param name="rosSimpleStep/velDefault" type="double" value="0.5" />
	<param name="rosSimpleStep/limitHi" type="double" value="2147483647" />
	<param name="rosSimpleStep/limitLo" type="double" value="-2147483646" />
	<param name="motorarm/speed_max" type="double" value="200.0"/>
	

	<node name="joint1" pkg="rosSimpleStep" type="rosSimpleStep.py" args="--name='joint1' --id='0.0.0' units='radians'"/>
	<node name="MotorArm" pkg="motorarm" type="MotorArm.py" />

	<include file="$(find stage_action_server)/launch/stage_action_server.launch" />

</launch>

