<launch>
	<!-- ========================================================== -->
	<!-- Configuration of a single simple MOTOR.                    -->
    <!--                                                            -->
    <!-- Edit this file to describe the motor hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the hardware-specific .launch file, and point here  -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->
    
    <!-- Specify the pattern to use for calibration (e.g. circle or spiral). -->
	<param name="calibration/shape" type="string" value="circle"/>

	<node name="MotorArm" pkg="motorarm" type="MotorArm.py" />


</launch>

