<launch>
    <!-- ========================================================== -->
    <!-- Configuration of the ROTCAM hardware.                      -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
    <!-- ========================================================== -->

    <include file="$(find rotcam)/launch/params_calibration.launch" />
    <include file="$(find rotcam)/launch/params_tracking.launch" />
    <include file="$(find flybowls)/launch/rotbowl_34mm.launch" />


    <!-- Choose A or B -->    
    <!-- A:  Get input from the camera and the background image file. -->
    <include file="$(find rotcam)/launch/camera_tracking.launch" />
    <node name="OriginateBackground"         pkg="tracking" type="OriginateBackground.py" />
    <node name="OriginateCalibrationCamera"  pkg="arena_tf" type="OriginateCalibrationCamera.py" />
    <node name="OriginateCalibrationStage"   pkg="arena_tf" type="OriginateCalibrationStage.py" />
    
    <!-- B:  Get input from a pre-recorded bag file. -->
<!--
    <node name="playbag" pkg="rosbag" type="play" args="-l -r 10 /home/rancher/FlylabData/2013_05_04/*.bag" />
    <node name="republisher" pkg="image_transport" type="republish" args="compressed raw in:=camera/image_rect out:=camera/image_rect" />
-->
     
	
</launch>
	
	
