<launch>
  <param name="guid"            type="string" value="Basler-21237813" />
  
  <param name="autoexposure"    type="int"    value="0"/>
  <param name="autogain"        type="int"    value="0"/>
  <param name="exposure"        type="double" value="2250"/>
  <param name="gain"            type="double" value="300"/>
  <param name="acquisitionmode" type="int"    value="0"/>
  <param name="framerate"       type="double" value="40"/>
  <param name="triggersource"   type="int"    value="0"/>
  <param name="softwarerate"    type="double" value="100"/>
  <param name="frame_id"        type="string" value="camera" />
  <param name="mtu"             type="int"    value="8192"/>



</launch>
