<launch>
  <include file="$(find tracking)/launch/tracking" />
  <!-- <include file="$(find arena_tf)/launch/arena_tf.launch" /> -->
  <node pkg="image_gui" type="DisplayTF.py" name="ImageDisplay" />

  <!-- <param name="mask_radius" type="double" value="225"/> -->
  <!-- <param name="diff_threshold" type="double" value="65"/> -->
  <!-- <param name="contour_count_max" type="double" value="2"/> -->
  <!-- <param name="image_processor_display_images" type="boolean" value="false"/> -->
</launch>
