<launch>
  <!-- =================================================================== -->
  <!-- Calibration for the COOKIECUTTER.                                   -->
  <!-- =================================================================== -->

  <!-- =================================================================== -->
  <!-- Arena-Camera transform.                                             -->
  <!--                                                                     -->
  <!-- "roslaunch calibration CameraArena.launch"                          -->
  <!--                                                                     -->
  <!-- Use the following command to move the center and radius of the      -->
  <!-- circle to correspond to the arena:                                  -->
  <!-- rostopic pub -1 Joystick/Commands geometry_msgs/Point @@ dx dy dr   -->
  <!-- (where dx,dy,dr are replaced with numbers, and the @'s are hyphens) -->
  <!-- =================================================================== -->
  
  <!-- The mask circle in camera coordinates (i.e. pixels).    -->
  <param name="camera/mask/x" type="double" value="320"/>
  <param name="camera/mask/y" type="double" value="249"/>
  <param name="camera/mask/radius" type="double" value="241"/>  <!-- pixels -->

  <param name="calibration/checker_size" type="double" value="14.0" />



  <!-- These values come from CameraArena.launch, with a checkerboard on the arena. They might need fiddling with after use. -->
  <param name="camera/arena_rvec_0" type="double" value="-3.133"/>
  <param name="camera/arena_rvec_1" type="double" value="0.000"/>
  <param name="camera/arena_rvec_2" type="double" value="0.043"/>
  <param name="camera/arena_tvec_0" type="double" value="9.786"/> <!-- Adjust for arena alignment here. -->
  <param name="camera/arena_tvec_1" type="double" value="-2.873"/> <!-- Adjust for arena alignment here. -->
  <param name="camera/arena_tvec_2" type="double" value="327.062"/>
  

</launch>

