<launch>
  <!-- (defaults to first camera on bus)-->
  <!-- <param name="guid"                 type="string" value="Basler-21237813" />
  -->   
  
  <param name="Acquire"              type="bool"   value="true"/>
  <param name="ExposureAuto"         type="string" value="Off"/>
  <param name="GainAuto"             type="string" value="Off"/>
  <param name="ExposureTimeAbs"      type="double" value="20000"/> <!--8000 for backlight-->
  <param name="Gain"                 type="double" value="100"/>  
  <param name="AcquisitionMode"      type="string" value="Continuous"/>
  <param name="AcquisitionFrameRate" type="double" value="60"/>
  <param name="TriggerMode"          type="string" value="Off"/>
  <param name="TriggerSource"        type="string" value="Line1"/>
  <param name="softwaretriggerrate"  type="double" value="100"/>
  <param name="frame_id"             type="string" value="camera" />
  <param name="mtu"                  type="int"    value="8000"/>


</launch>
