<launch>
	<!-- 
	You can use the ROS image viewer to look at the live video, for example:
	 
	rosrun image_view image_view image:=camera/image_raw
	rosrun image_view image_view image:=camera/image_rect
	rosrun image_view image_view image:=camera/image_foreground
	rosrun image_view image_view image:=camera/image_processed

	-->
	  
	<!-- Turn on/off contour windows. -->
	<param name="display_contours"         type="boolean" value="false"/>

	<param name="frameid_contours" type="string" value="ImageRect"/>

	<param name="tooloffset/kP"      type="double" value="1.0"/>
	<param name="tooloffset/kI"      type="double" value="0.0"/>
	<param name="tooloffset/kD"      type="double" value="0.0"/>

	<node pkg="tracking" type="ContourGenerator.py" name="ContourGenerator" />
	<node pkg="tracking" type="ContourIdentifier.py" name="ContourIdentifier" />
	
	<!-- Causes ContourIdentifier to hang when run w/ no Stage:  -->
	<!-- <node pkg="tracking" type="PublishFlyView.py" name="PublishFlyView" /> --> 
</launch>
