<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the fivebar parameters for COLOSSEUM      -->
    <!--                                                            -->
    <!-- Edit this file to describe the fivebar hardware.           -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the colosseum.launch file, and point here           -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->


	<!-- Good PID gains for step response. -->
	<!--
		<param name="fivebar/kP"      type="double" value="0.1"/>
		<param name="fivebar/kI"      type="double" value="0.01"/>
		<param name="fivebar/kD"      type="double" value="0.2"/>
		<param name="fivebar/maxI"    type="double" value="2.0"/> 
		<param name="fivebar/kWindup" type="double" value="0.9"/> 
	-->
	
	<!-- Good PID gains to follow a walking fly. -->
	<!-- -->
	<param name="fivebar/kP"      type="double" value="0.02"/>
	<param name="fivebar/kI"      type="double" value="0.05"/>
	<param name="fivebar/kD"      type="double" value="-0.05"/>
	<param name="fivebar/maxI"    type="double" value="2"/>  
	<param name="fivebar/kWindup" type="double" value="1.0"/>  
	<!-- -->

	<!-- Good PID gains for both step AND ramp response. -->
	<!--
	<param name="fivebar/kP"      type="double" value="0.01"/>
	<param name="fivebar/kI"      type="double" value="0.15"/>
	<param name="fivebar/kD"      type="double" value="0.1"/>
	<param name="fivebar/maxI"    type="double" value="6.0"/> 
	<param name="fivebar/kWindup" type="double" value="0.9"/> 
	-->

</launch>
	