<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the FIVEBAR mechanism.                    -->
    <!--                                                            -->
    <!-- Edit this file to describe the fivebar hardware.           -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the hardware-specific .launch file, and point here  -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->
    
	
    <!-- Specify the pattern to use for calibration (e.g. circle or spiral). -->
	<param name="calibration/shape" type="string" value="spiral"/>
	

	<node name="joint1" pkg="rosSimpleStep" type="rosSimpleStep.py" args="--name='joint1' --id='0.0.A' units='radians'"/>
	<node name="joint2" pkg="rosSimpleStep" type="rosSimpleStep.py" args="--name='joint2' --id='0.0.B' units='radians'"/>
	<node name="Fivebar" pkg="fivebar" type="Fivebar.py" />


</launch>

