<launch>
  <!-- ================================================================== -->
  <!-- This file contains the Plate-to-Stage transform.                   -->
  <!-- This is where you align the computed end-effector position with    -->
  <!-- the visual end-effector position.                                  -->
  <!--                                                                    -->
  <!-- "roslaunch flyatar_calibration StagePlate.launch"                  -->
  <!-- Then let it run until the "Translation Vector" and "Quaternion"    -->
  <!-- stabilize.  Then copy the translation & quaternion values to       -->
  <!-- the "args" below, e.g.  as:  tx,ty,tz,qx,qy,qz,qw                  -->
  <!--                                                                    -->
  <!-- ================================================================== -->
  
  <node pkg="tf" type="static_transform_publisher" name="statictf_Plate_Stage_publisher" args="5.3 -7.0 0 0 0 0 1 Plate Stage 100" /> 

</launch>
