
<launch>
  <param name="KK_fx_raw" type="double" value="1685.3"/>
  <param name="KK_fy_raw" type="double" value="1729.5"/>
  <param name="KK_cx_raw" type="double" value="624.4"/>
  <param name="KK_cy_raw" type="double" value="510.4"/>

  <param name="kc_k1_raw" type="double" value="-0.011689715880217"/>
  <param name="kc_k2_raw" type="double" value="0.176372403112629"/>
  <param name="kc_p1_raw" type="double" value="0.00110565786839175"/>
  <param name="kc_p2_raw" type="double" value="0.00274255868338994"/>

  <param name="KK_fx_rect" type="double" value="1800.1"/>
  <param name="KK_fy_rect" type="double" value="1801.2"/>
  <param name="KK_cx_rect" type="double" value="607.1"/>
  <param name="KK_cy_rect" type="double" value="517.2"/>

  <param name="kc_k1_rect" type="double" value="-0.377698210474514"/>
  <param name="kc_k2_rect" type="double" value="-0.150831648118155"/>
  <param name="kc_p1_rect" type="double" value="-0.00146414444018201"/>
  <param name="kc_p2_rect" type="double" value="0.00271182868562793"/>

  <!-- tf broadcasters -->
  <!-- Camera frame origin is at center of camera image -->
  <node pkg="tf" type="static_transform_publisher" name="statictf_Camera_ImageRaw_publisher" args="-633.939 -549.473 0 0 0 0 Camera ImageRaw 10" />
  <node pkg="tf" type="static_transform_publisher" name="statictf_Camera_ImageRect_publisher" args="-607.133 -551.245 0 0 0 0 Camera ImageRect 10" />

</launch>

