
<launch>
  <param name="KK_fx_raw" type="double" value="1799.8"/>
  <param name="KK_fy_raw" type="double" value="1803.0"/>
  <param name="KK_cx_raw" type="double" value="608.7"/>
  <param name="KK_cy_raw" type="double" value="581.0"/>

  <param name="kc_k1_raw" type="double" value="-0.404598350396481"/>
  <param name="kc_k2_raw" type="double" value="0.126645105130045"/>
  <param name="kc_p1_raw" type="double" value="-0.000725186678172995"/>
  <param name="kc_p2_raw" type="double" value="1.69374307532577e-05"/>

  <param name="KK_fx_rect" type="double" value="1690.6"/>
  <param name="KK_fy_rect" type="double" value="1724.6"/>
  <param name="KK_cx_rect" type="double" value="632.9"/>
  <param name="KK_cy_rect" type="double" value="540.1"/>

  <param name="kc_k1_rect" type="double" value="0.0273498700038541"/>
  <param name="kc_k2_rect" type="double" value="-0.111761969774509"/>
  <param name="kc_p1_rect" type="double" value="-0.00967813227952105"/>
  <param name="kc_p2_rect" type="double" value="0.00561123443915717"/>

  <!-- tf broadcasters -->
  <!-- Camera frame origin is at center of camera image -->
  <node pkg="tf" type="static_transform_publisher" name="statictf_Camera_ImageRaw_publisher" args="-608.7 -581.0 0 0 0 0 Camera ImageRaw 10" />
  <node pkg="tf" type="static_transform_publisher" name="statictf_Camera_ImageRect_publisher" args="-632.9 -540.1 0 0 0 0 Camera ImageRect 10" />

</launch>

