<launch>
  <param name="camera_plate_rvec_0" type="double" value="-3.120"/>
  <param name="camera_plate_rvec_1" type="double" value="-0.005"/>
  <param name="camera_plate_rvec_2" type="double" value="-0.040"/>
  <param name="camera_plate_tvec_0" type="double" value="9.3"/>
  <param name="camera_plate_tvec_1" type="double" value="-4.3"/>
  <param name="camera_plate_tvec_2" type="double" value="312.6"/>

</launch>
