<launch>
  <!-- Plate to Stage coordinate transform. -->
  <!-- This is where you align the computed end-effector position with the magnet position as seen on camera. -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="statictf_Plate_Stage_publisher" args="5.3 -7.7 0 0.0 0.0 -0.011 1.000 Plate Stage 10" /> --> 
       <node pkg="tf" type="static_transform_publisher" name="statictf_Plate_Stage_publisher" args="0.0  0.0 0 0.0 0.0  0.0   1.000 Plate Stage 10" /> 
  
  <param name="calibration/factor" type="string" value="1.29"/>
  <param name="calibration/origin" type="string" value="[14.0, -13.0]"/>
  <param name="calibration/direction" type="string" value="None"/>

<!-- T_stage_plate

 0.9991  0.0215 0      5.3
-0.0215  0.9991 0     -7.7
 0       0      1.285  0
 0       0      0      1

-->

</launch>
