<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the BIGTOP hardware.                      -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
	<!-- ========================================================== -->

    <node pkg="bigtop" type="instructions.sh" name="instructions" output="screen" />

	<include file="$(find bigtop)/launch/params_calibration.launch" />
	<include file="$(find bigtop)/launch/params_tracking.launch" />
	<include file="$(find flybowls)/launch/flybowl_50mm.launch" /> 


<!--	<include file="$(find bigtop)/launch/params_ledpanels.launch" /> -->
<!--	<include file="$(find ledpanels)/launch/main.launch" /> -->

	<include file="$(find bigtop)/launch/params_galvos.launch" />
	<include file="$(find galvodirector)/launch/main.launch" />

	<include file="$(find bigtop)/launch/params_actuator.launch" />
	<include file="$(find motorarm)/launch/motorarm.launch" />

    <include file="$(find bigtop)/launch/camera_aux.launch" />
    <!-- <include file="$(find bigtop)/launch/camera_flir.launch" /> -->

    <!-- Choose A or B -->    
    <!-- A:  Get input from the camera, and from the background image file. -->
    <include file="$(find bigtop)/launch/camera_tracking.launch" />
    <node name="OriginateBackground"         pkg="tracking" type="OriginateBackground.py" />
    <node name="OriginateCalibrationCamera"  pkg="arena_tf" type="OriginateCalibrationCamera.py" />
    <node name="OriginateCalibrationStage"   pkg="arena_tf" type="OriginateCalibrationStage.py" />
    
    <!-- B:  Get input from a pre-recorded bag file. -->
<!--
    <node name="playbag" pkg="rosbag" type="play" args="-l /home/ssafarik/FlylabData/2013_04_30/test20130430171030.bag" />
    <node name="republisher" pkg="image_transport" type="republish" args="compressed raw in:=camera/image_rect out:=camera/image_rect" />
-->

	
</launch>
	
	
