<launch>

	<!-- ========================================================== -->
    <!-- This file points to the HARDWARE you are using.            -->
    <!--                                                            -->
    <!-- Only point to the single appropriate hardware-specific     -->
    <!-- .launch file from here.                                    -->
	<!-- ========================================================== -->
    
    <include file="$(find colosseum)/launch/main.launch" />
     
</launch>
