<launch>

    <!-- ========================================================== -->
    <!-- This file launches the hardware rig you are using,         -->
    <!-- based on the environment variable "RIG".                   -->
    <!--                                                            -->
    <!-- Some examples:                                             -->
    <!-- export RIG=bigtop                                          -->
    <!-- export RIG=colosseum                                       -->
    <!-- export RIG=racetrack                                       -->
    <!-- export RIG=breadpan                                        -->
    <!-- ========================================================== -->
    
    <include file="$(find rigs)/launch/$(env RIG).launch" />
     
</launch>
