<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the racetrack hardware.                   -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
	<!-- ========================================================== -->

	<include file="$(find racetrack)/launch/params_calibration.launch" />
	<include file="$(find racetrack)/launch/params_tracking.launch" />
	<include file="$(find flybowls)/launch/flybowl_50mm.launch" /> 

	<include file="$(find racetrack)/launch/params_actuator.launch" />
	<include file="$(find motorarm)/launch/motorarm.launch" />

	
    <!-- Get input from the camera, and from the background image file. -->
    <include file="$(find racetrack)/launch/camera_tracking.launch" />
    <node name="OriginateBackground"         pkg="tracking" type="OriginateBackground.py" />
    <node name="OriginateCalibrationCamera"  pkg="arena_tf" type="OriginateCalibrationCamera.py" />
    <node name="OriginateCalibrationStage"   pkg="arena_tf" type="OriginateCalibrationStage.py" />
    

</launch>
	
	
