<launch>

 <!-- Flysim Node-->
  <node pkg="flysim" type="flysim_node" name="sim"/>


 <!-- spacenav node -->
  <node respawn="true" pkg="spacenav_node"
        type="spacenav_node" name="flysim_spacenav" >
    <remap from="flysim_spacenav/joy" to="joy" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>

  <node pkg="flysim_teleop" type="flysim_teleop_joy" name="teleop"/>
</launch>
