<!-- -*- mode: XML -*- -->

<!-- Start the driver for a specific IEEE1394 digital camera.

     this is a test script: NOT FOR GENERAL USE

     environment: $CAMERA = base file name of camera YAML parameters
                  (default: unibrain)
-->

<launch>

  <node pkg="camera1394v2" type="camera1394v2_node" name="camera1394v2_node" >
    <rosparam
       file="$(find camera1394v2)/test/$(optenv CAMERA unibrain).yaml" /> 
  </node>
</launch>
