<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the BABYCARROT hardware.                  -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
	<!-- ========================================================== -->

	<include file="$(find babycarrot)/launch/params_calibration.launch" />
	<include file="$(find flybowls)/launch/flybowl_32mm.launch" /> 

	<include file="$(find motorarm)/launch/motorarm.launch" />
	<include file="$(find babycarrot)/launch/params_actuator.launch" />

	<include file="$(find babycarrot)/launch/camera.launch" />
	
</launch>
	
	