<launch>
	<!-- ========================================================== -->
	<!-- Configuration of BABYCARROT's motorarm.                    -->
    <!--                                                            -->
    <!-- Edit this file to describe the motor hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch babycarrot.launch file, and point here from there.  -->
    <!--                                                            -->
	<!-- ========================================================== -->
    
	<param name="rosSimpleStep/velDefault" type="double" value="0.5" />               	<!-- Velocity to use when finding index, parking, etc. -->
	<param name="rosSimpleStep/limitHi" type="double" value="2147483647" />           	<!-- Max absolute angle. -->
	<param name="rosSimpleStep/limitLo" type="double" value="-2147483646" />          	<!-- Min absolute angle. -->
	<param name="actuator/hzPoint" type="double" value="10.0"/>							<!-- Update rate of actuator. -->
	<param name="robot_description" textfile="$(find babycarrot)/motorarm_urdf.xml" />  <!-- Contains 3D model of hardware. -->

	<param name="motorarm/speed_max" type="double" value="3.1"/>                      	<!-- Radians per second. -->
	<param name="motorarm/L1" type="double" value="33"/>                              	<!-- Link1 length in millimeters. -->
	
	<param name="motorarm/kP"      type="double" value="1.0"/>
	<param name="motorarm/kI"      type="double" value="0.5"/>
	<param name="motorarm/kD"      type="double" value="-0.5"/>
	<param name="motorarm/kWindup" type="double" value="0.1"/>  
	<param name="motorarm/maxI"    type="double" value="0.0"/>  
	
	
	<node name="joint1" pkg="rosSimpleStep" type="rosSimpleStep.py" args="--name='joint1' --id='0.0.0'"/>
</launch>

