<launch>
	<!-- ========================================================== -->
	<!-- Configuration to test the tracking system.                 -->
    <!--                                                            -->
    <!-- Launch this file to run the experiment, as in:             -->
    <!-- roslaunch tracking test.launch                             -->
    <!--                                                            -->
	<!-- ========================================================== -->

	<!-- ***  Core stuff  *** -->
	<include file="$(find flycore)/launch/flycore.launch" />
	
    <!-- ***  Hardware  *** -->
    <include file="$(find config)/launch/hardware.launch" />

	
  
</launch>
