<launch>
    <!-- 
    You can use the ROS image viewer to look at the live video, for example:
     
    rosrun image_view image_view image:=camera/image_raw
    rosrun image_view image_view image:=camera/image_rect
    rosrun image_view image_view image:=camera/image_foreground
    rosrun image_view image_view image:=camera/image_processed
    -->
	  
    <param name="frameid_contours" type="string" value="ImageRect"/>
    <param name="tracking/queue_size_images" type="int" value="2"/>
    <param name="tracking/queue_size_arenastate" type="int" value="100"/>
    <param name="tracking/queue_size_contours" type="int" value="100"/>
    

    <param name="tracking/nContoursMax"					type="int" value="20"/>
    <param name="tracking/distanceDuplicateContour"		type="double" value="0.1"/>
    <param name="tracking/areaContourMin"				type="double" value="0.99"/>
    <param name="tracking/speedThresholdForTravel" 		type="double" value="4.0"/>
    <param name="tracking/dtVelocity"              		type="double" value="0.2"/>
    <param name="tracking/rcFilterAngle"           		type="double" value="0.1"/>
    <param name="tracking/rcFilterSpeed"           		type="double" value="0.2"/>
    <param name="tracking/rcFilterAngularVel"      		type="double" value="0.1"/>
    <param name="tracking/rcFilterFlip"            		type="double" value="4.0"/>


    <node pkg="tracking" type="ContourGenerator.py" name="ContourGenerator" />
    <node pkg="tracking" type="ContourIdentifier.py" name="ContourIdentifier" />
	
</launch>
