<launch>

	<!-- ========================================================== -->
	<!-- Configuration of the auxillary camera attached to BIGTOP.  -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the bigtop.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<include file="$(find bigtop)/launch/params_camera_flir.launch" ns="camera_flir" />
	<node name="camera_flir"     pkg="camera_aravis"  type="camnode"      />
	<node name="image_view_flir" pkg="image_view"     type="image_view"   args="image:=camera_flir/image_raw" />  
	
</launch>
