<launch>

	<!-- ========================================================== -->
	<!-- Configuration of the camera attached to the BIGTOP.        -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the bigtop.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<include file="$(find bigtop)/launch/params_camera_tracking.launch" ns="camera" />
	<node name="camera"     pkg="camera_aravis" type="camnode" />
	<node name="image_proc" pkg="image_proc"    type="image_proc" ns="camera" />
  
</launch>
