<launch>
  <param name="guid"            type="string" value="Basler-21237813" />   <!-- (defaults to first camera on bus)-->
  <param name="video_mode"      type="string" value="format7_mode0" /> 
  <param name="frame_id"        type="string" value="camera" />
  
  <param name="autoexposure"    type="int"    value="0"/>
  <param name="autogain"        type="int"    value="0"/>
  <param name="exposure"        type="double" value="9000"/>
  <param name="gain"            type="double" value="100"/>
  <param name="acquisitionmode" type="int"    value="0"/>
  <param name="framerate"       type="double" value="60"/>
  <param name="triggersource"   type="int"    value="0"/>
  <param name="softwarerate"    type="double" value="100"/>
  <param name="mtu"             type="int"    value="8192"/>


</launch>
