<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the laser galvo parameters for the BIGTOP -->
    <!--                                                            -->
    <!-- Edit this file to describe the galvo hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the bigtop.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

    <param name="galvodriver/hzDaqClock" type="double" value="120000.0"/>
    <param name="galvodriver/hzGalvoRate" type="double" value="40000.0"/>   <!-- This is the rate the galvos can move from point to point, based on quality desired. -->
	<param name="galvodriver/hzUSB" type="double" value="50.0"/>  <!-- The fastest that the DAQ can be updated over USB.  Galvodriver makes sure to stay slower than this rate. -->
    <param name="galvodirector/xBeamsink" type="double" value="0.0" />  <!-- volts -->
    <param name="galvodirector/yBeamsink" type="double" value="-10.0" />  <!-- volts -->

    
    <!-- Least Squares for y = a3*x**3 + a2*x**2 + a1*x + a0.  Millimeters to Volts: -->
    <param name="galvodirector/a3" type="double" value="-5.06933e-08" />
    <param name="galvodirector/a2" type="double" value="4.75069e-06" />
    <param name="galvodirector/a1" type="double" value="0.0532413" />
    <param name="galvodirector/a0" type="double" value="-0.643204" />
    <param name="galvodirector/b3" type="double" value="1.26701e-07" />
    <param name="galvodirector/b2" type="double" value="-1.25031e-05" />
    <param name="galvodirector/b1" type="double" value="-0.053238" />
    <param name="galvodirector/b0" type="double" value="3.42689" />

    <!-- Least Squares for y = a3i*x**3 + a2i*x**2 + a1i*x + a0i.  Volts to Millimeters: -->
    <param name="galvodirector/a3i" type="double" value="0.00562104" />
    <param name="galvodirector/a2i" type="double" value="-0.021093" />
    <param name="galvodirector/a1i" type="double" value="18.7522" />
    <param name="galvodirector/a0i" type="double" value="12.0735" />
    <param name="galvodirector/b3i" type="double" value="-0.0136774" />
    <param name="galvodirector/b2i" type="double" value="0.0334364" />
    <param name="galvodirector/b1i" type="double" value="-18.5262" />
    <param name="galvodirector/b0i" type="double" value="63.7074" />

    
</launch>

	
