<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the laser galvo parameters for the BIGTOP -->
    <!--                                                            -->
    <!-- Edit this file to describe the galvo hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the bigtop.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<param name="galvodriver/hzPoint" type="double" value="250000.0"/>
	<param name="galvodriver/hzUSB" type="double" value="45.0"/>  <!-- The fastest that the DAQ can be updated over USB.  Galvodriver makes sure to stay slower than this rate. -->
    <param name="galvodirector/xBeamsink" type="double" value="0.0" />  <!-- volts -->
    <param name="galvodirector/yBeamsink" type="double" value="-10.0" />  <!-- volts -->

    

    <!--  May be improved with a spherical adjustment like:  yv = my * ym .* sin(ym*(pi/180)/33.33) + by - ym/20.4 + 0.1 -->  
    <param name="galvodirector/a3" type="double" value="-1.26487e-07" />
    <param name="galvodirector/a2" type="double" value="1.42924e-06" />
    <param name="galvodirector/a1" type="double" value="0.0528306" />
    <param name="galvodirector/a0" type="double" value="-0.219368" />
    <param name="galvodirector/b3" type="double" value="2.72008e-07" />
    <param name="galvodirector/b2" type="double" value="-8.91973e-06" />
    <param name="galvodirector/b1" type="double" value="-0.0529175" />
    <param name="galvodirector/b0" type="double" value="3.60264" />
    <param name="galvodirector/a3i" type="double" value="0.0144464" />
    <param name="galvodirector/a2i" type="double" value="0.00490769" />
    <param name="galvodirector/a1i" type="double" value="18.9315" />
    <param name="galvodirector/a0i" type="double" value="4.13669" />
    <param name="galvodirector/b3i" type="double" value="-0.0232455" />
    <param name="galvodirector/b2i" type="double" value="0.0742489" />
    <param name="galvodirector/b1i" type="double" value="-18.5115" />
    <param name="galvodirector/b0i" type="double" value="67.1802" />
    
</launch>

	