<launch>
  <!-- <param name="contour_count_max" type="double" value="11"/> -->
  <param name="diff_threshold" type="double" value="55"/>  <!-- Adjust this based on light brightness, etc, to get good contours. -->

  <param name="display_unprocessedimage" type="boolean" value="false"/>
  <param name="display_processedimage" type="boolean" value="true"/>
  <param name="display_contours" type="boolean" value="false"/>
  <param name="display_diff" type="boolean" value="false"/>
  <param name="display_foreground" type="boolean" value="false"/>
  <param name="display_background" type="boolean" value="false"/>

  <param name="frameid_contours" type="string" value="Camera"/>

  <node pkg="track_image_contours" type="ImageProcessor.py" name="ImageProcessor" />
  <node pkg="track_image_contours" type="ContourIdentifier.py" name="ContourIdentifier" />
  <node pkg="track_image_contours" type="PublishFlyView.py" name="PublishFlyView" />
</launch>
