<launch>
	<!-- ================================================================== -->
	<!-- This is the launch file for the procedure to calibrate the         -->
	<!-- Stage-to-Arena transform.                                          -->
	<!--                                                                    -->
	<!-- This is where you align the computed end-effector position with    -->
	<!-- the visual end-effector position.                                  -->
	<!--                                                                    -->
	<!-- The results of this procedure go into the file                     -->
	<!-- calibration.launch                                                 -->
	<!--                                                                    -->
	<!-- ================================================================== -->
	
	<include file="$(find config)/launch/main.launch" />
	<include file="$(find patterngen)/launch/PatternGenXY.launch" />
	<include file="$(find arena_tf)/launch/main.launch" />
	<include file="$(find tracking)/launch/main.launch" />

	<param name="camera/framerate" type="double" value="10"/> <!-- These are low since the processing time eventually causes ContourGenerator to hang on publishing ContourinfoLists. -->
	<param name="camera/softwarerate" type="double" value="10"/>

	<param name="motorarm/speed_max" type="double" value="100"/>   <!--20.4" -->
	<node pkg="calibration" type="StageArena.py" name="StageArenaCalibration" />
</launch>
