<launch>

	<!-- ========================================================== -->
	<!-- Configuration of the auxillary camera attached to SKYNET.  -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the skynet.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<include file="$(find skynet)/launch/params_camera_aux.launch" ns="camera_aux/camera_aux" />
	<node pkg="camera_aravis" type="camnode" ns="camera_aux" name="camera_aux" />
	<node pkg="image_view" type="image_view" name="image_view_aux" args="image:=camera_aux/image_raw" />  
	
</launch>
