<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the galvo parameters for SKYNET           -->
    <!--                                                            -->
    <!-- Edit this file to describe the galvo hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the skynet.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<param name="galvodriver/hzPoint" type="double" value="131072.0"/>

</launch>
	