<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the laser galvo parameters for SKYNET     -->
    <!--                                                            -->
    <!-- Edit this file to describe the galvo hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the skynet.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<param name="galvodriver/hzPoint" type="double" value="250000.0"/>
	<param name="galvodriver/hzUSB" type="double" value="40.0"/>  <!-- The fastest that the DAQ can be updated over USB.  We make sure to stay slower than this rate. -->
	
    <param name="galvodirector/mx" type="double" value="0.0509283" />
    <param name="galvodirector/bx" type="double" value="-0.6446049" />
    <param name="galvodirector/my" type="double" value="-0.0498209" />
    <param name="galvodirector/by" type="double" value="3.3652245" />
    
    <param name="galvodirector/xBeamDump" type="double" value="0.0" />  <!-- volts -->
    <param name="galvodirector/yBeamDump" type="double" value="-10.0" />  <!-- volts -->
    
</launch>
	