<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the laser galvo parameters for SKYNET     -->
    <!--                                                            -->
    <!-- Edit this file to describe the galvo hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the skynet.launch file, and point here              -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<param name="galvodriver/hzPoint" type="double" value="262144.0"/>
	
	<param name="galvodirector/mx" type="double" value="0.05111587" />
	<param name="galvodirector/bx" type="double" value="-0.90610801" />
	<param name="galvodirector/my" type="double" value="-0.05003545" />
	<param name="galvodirector/by" type="double" value="3.15307329" />

</launch>
	