<launch>
	<!-- ========================================================== -->
	<!-- Configuration of SKYNET hardware.                          -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
	<!-- ========================================================== -->

	<include file="$(find skynet)/launch/params_calibration.launch" />
	<include file="$(find flybowls)/launch/flybowl_62mm.launch" /> 


	<include file="$(find galvodirector)/launch/main.launch" />
	<include file="$(find skynet)/launch/params_galvos.launch" />
	<include file="$(find skynet)/launch/camera.launch" />

	<include file="$(find patterngen)/launch/PatternGenXY.launch" />
	
</launch>
	
	