<launch>
  <!-- =================================================================== -->
  <!-- This file contains both the Plate-Stage and Plate-Camera            -->
  <!-- transform data.                                                     -->
  <!-- =================================================================== -->

  <!-- =================================================================== -->
  <!-- Plate-Camera transform.                                             -->
  <!--                                                                     -->
  <!-- "roslaunch calibration CameraPlate.launch"                          -->
  <!--                                                                     -->
  <!-- Use the following command to move the center and radius of the      -->
  <!-- circle to correspond to the arena:                                  -->
  <!-- rostopic pub -1 @@ Joystick/Commands geometry_msgs/Point dx dy dr   -->
  <!-- (where dx,dy,dr are replaced with numbers, and the @'s are hyphens) -->
  <!-- =================================================================== -->
  
  <!-- The origin of the mask circle.    -->
  <param name="camera/originPlateX" type="double" value="661"/>
  <param name="camera/originPlateY" type="double" value="517"/>

  <!-- Radius parameter value goes into the flybowl .launch file pointed to by hardware.launch -->


  <!-- These values come from CameraPlate.launch, with a checkerboard on the arena. -->
  <param name="camera_plate_rvec_0" type="double" value="-3.092"/>
  <param name="camera_plate_rvec_1" type="double" value="-0.004"/>
  <param name="camera_plate_rvec_2" type="double" value="0.030"/>
  <param name="camera_plate_tvec_0" type="double" value="117.6"/> <!-- adjust for plate alignment here. -->
  <param name="camera_plate_tvec_1" type="double" value="90.3"/> <!-- adjust for plate alignment here. -->
  <param name="camera_plate_tvec_2" type="double" value="296.9"/>
  

  <!-- ================================================================== -->
  <!-- Plate-to-Stage transform                                           -->
  <!-- where you align the computed end-effector position with the visual -->
  <!-- end-effector position.                                             -->
  <!--                                                                    -->
  <!-- "roslaunch calibration StagePlate.launch"                          -->
  <!-- Then let it run until the "Translation Vector" and "Quaternion"    -->
  <!-- stabilize.  Then copy the translation & quaternion values to       -->
  <!-- the "args" below, e.g.  as:  tx,ty,tz,qx,qy,qz,qw                  -->
  <!--                                                                    -->
  <!-- ================================================================== -->
  
  <node pkg="tf" type="static_transform_publisher" name="statictf_Plate_Stage_publisher" args="5.3 -7.0 0 0 0 0 1 Plate Stage 100" /> 


</launch>
