<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the FIVEBAR mechanism.                    -->
    <!--                                                            -->
    <!-- Edit this file to describe the fivebar hardware.           -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the hardware-specific .launch file, and point here  -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->
    
	
    <!-- Specify the pattern to use for calibration (e.g. circle or spiral). -->
	<param name="calibration/shape" type="string" value="spiral"/>
	

	<node name="Fivebar" pkg="fivebar" type="Fivebar.py" />


</launch>

