<launch>
	<!-- ========================================================== -->
	<!-- FLYCORE:  Required Nodes for Flylab.                       -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Include this file in your main launch file.                -->
    <!--                                                            -->
	<!-- ========================================================== -->
  
	<include file="$(find save)/launch/main.launch" />
	<include file="$(find arena_tf)/launch/main.launch" />
	<include file="$(find tracking)/launch/main.launch" />
	<include file="$(find ui)/launch/main.launch" />
	<node pkg="patterngen" type="PatternGenXY.py" name="PatternGen" required="true" />
  
</launch>
