<launch>

	<!-- ========================================================== -->
	<!-- Configuration of the camera attached to the <NAME>.     -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the NAME.launch file, and point here           -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<include file="$(find plate_tf)/launch/plate_tf.launch" />
	<node pkg="tf" type="static_transform_publisher" name="statictf_baslera622f_Camera_publisher" args="0 0 0 0 0 0 basler_a622f Camera 10" />
	<node pkg="camera1394v2" type="camera1394v2_node" name="camera1394v2_node" >
		<rosparam file="$(find calibration)/calibration_data/params_camera_NAME.yaml" />
	</node>
	
	<node ns="camera" name="image_proc" pkg="image_proc" type="image_proc" />
  
</launch>
