<launch>
  <include file="$(find flysim_teleop)/launch/flysim_joystick_ps3.launch" />
  <node name="fly_tf_publisher" pkg="flysim_tf" type="flysim_tf_publisher.py" respawn="false" output="screen" >
    <param name="flyname" type="string" value="robot" />
  </node>
  <node name="robot_tf_publisher" pkg="flysim_tf" type="flysim_tf_publisher.py" respawn="false" output="screen" >
    <param name="flyname" type="string" value="fly" />
  </node>
  <!-- <node name="flysim_tf_listener" pkg="flysim_tf" type="flysim_tf_listener.py" respawn="false" output="screen" > -->
  <!-- </node> -->

</launch>
