<launch>
    <!-- ========================================================== -->
    <!-- Configuration of the ROBOT (i.e. the "magnet")             -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point to this file from there. -->
    <!--                                                            -->
    <!-- Edit this file to describe the particular robot.           -->
    <!-- ========================================================== -->


	<param name="robot/width" type="double" value="1.5875"/>
	<param name="robot/length" type="double" value="3.18"/>
	<param name="robot/height" type="double" value="0.79"/>
	<param name="robot/visible" type="boolean" value="true"/>
	<param name="robot/paint" type="str" value="nickel"/>
	<param name="robot/scent" type="str" value="unscented"/>
  
	<include file="$(find robots)/launch/calibration_robotimage_3180h_1590w.launch" />
  
</launch>
  
