<launch>
	<!-- ================================================================== -->
	<!-- This is the launch file for the procedure to calibrate the         -->
    <!-- Stage-to-Plate transform.                                          -->
	<!--                                                                    -->
	<!-- This is where you align the computed end-effector position with    -->
	<!-- the visual end-effector position.                                  -->
	<!--                                                                    -->
	<!-- The results of this procedure go into the file                     -->
	<!-- calibration_stage_plate.launch                                     -->
	<!--                                                                    -->
	<!-- ================================================================== -->
	
	<include file="$(find config)/launch/hardware.launch" />
	<include file="$(find patterngen)/launch/PatternGenXY.launch" />
	<include file="$(find tracking)/launch/tracking.launch" />

	<node pkg="flyatar_calibration" type="StagePlate.py" name="StagePlate" />
</launch>
