<launch>
  <param name="robot_velocity_max" type="double" value="10"/>
  <!-- include file="$(find flyatar_manual)/launch/joystick_control.launch" / -->
  <include file="$(find Fivebar)/xyPatternGen.launch" />

  <include file="$(find track_image_contours)/launch/track_image_contours.launch" />
  <!--<include file="$(find plate_tf)/launch/plate_camera_transforms.launch" />-->
  <node pkg="flyatar_calibration" type="StagePlate.py" name="StagePlate" />
</launch>
