<launch>
  <!-- =================================================================== -->
  <!-- This file contains both the Plate-Stage and Plate-Camera            -->
  <!-- transform data.                                                     -->
  <!-- =================================================================== -->

  <!-- =================================================================== -->
  <!-- Plate-Camera transform.                                             -->
  <!--                                                                     -->
  <!-- "roslaunch calibration CameraPlate.launch"                          -->
  <!--                                                                     -->
  <!-- Use the following command to move the center and radius of the      -->
  <!-- circle to correspond to the arena:                                  -->
  <!-- rostopic pub -1 Joystick/Commands geometry_msgs/Point @@ dx dy dr   -->
  <!-- (where dx,dy,dr are replaced with numbers, and the @'s are hyphens) -->
  <!-- =================================================================== -->
  
  <!-- The mask circle in camera coordinates (i.e. pixels).    -->
  <param name="camera/mask/x" type="double" value="654"/>
  <param name="camera/mask/y" type="double" value="527"/>
  <param name="camera/mask/radius" type="double" value="475"/>  <!-- pixels -->



  <!-- These values come from CameraPlate.launch, with a checkerboard on the arena. They might need fiddling with after use. -->
  <param name="camera_plate_rvec_0" type="double" value="-3.126"/>
  <param name="camera_plate_rvec_1" type="double" value="-0.007"/>
  <param name="camera_plate_rvec_2" type="double" value="0.060"/>
  <param name="camera_plate_tvec_0" type="double" value="118"/> <!-- Adjust for plate alignment here. -->
  <param name="camera_plate_tvec_1" type="double" value="95"/> <!-- Adjust for plate alignment here. -->
  <param name="camera_plate_tvec_2" type="double" value="322"/>
  

  <!-- ================================================================== -->
  <!-- Plate-to-Stage transform                                           -->
  <!-- where you align the computed end-effector position with the visual -->
  <!-- end-effector position.                                             -->
  <!--                                                                    -->
  <!-- "roslaunch calibration StagePlate.launch"                          -->
  <!-- Then let it run until the "Translation Vector" and "Quaternion"    -->
  <!-- stabilize.  Then copy the translation & quaternion values to       -->
  <!-- the "args" below, e.g.  as:  tx,ty,tz,qx,qy,qz,qw                  -->
  <!--                                                                    -->
  <!-- ================================================================== -->
  
  <param name="plate_stage_x" type="double" value="7"/>  <!-- Adjust for stage alignment here. -->
  <param name="plate_stage_y" type="double" value="-8"/>  <!-- Adjust for stage alignment here. -->
  <param name="plate_stage_z" type="double" value="0.0"/>
  <param name="plate_stage_qx" type="double" value="0"/>
  <param name="plate_stage_qy" type="double" value="0"/>
  <param name="plate_stage_qz" type="double" value="0"/>
  <param name="plate_stage_qw" type="double" value="1"/>


</launch>
