<launch>
	<!-- ========================================================== -->
	<!-- Configuration of COLOSSEUM hardware.                       -->
    <!--                                                            -->
    <!-- Edit this file to contain the elements of the particular   -->
    <!-- hardware.                                                  -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch hardware.launch, and point here from there.         -->
	<!-- ========================================================== -->
	
	<include file="$(find LEDPanels)/launch/main.launch" />
	<include file="$(find fivebar)/launch/fivebar.launch" />
	<include file="$(find colosseum)/launch/camera.launch" />

	<include file="$(find flybowls)/launch/heatbowl_50mm.launch" /> 
	<include file="$(find colosseum)/launch/params_calibration.launch" />
	<include file="$(find colosseum)/launch/params_tracking.launch" />
	<include file="$(find colosseum)/launch/params_actuator.launch" />
	<include file="$(find colosseum)/launch/params_ledpanels.launch" />

</launch>
	
	
