<launch>
  <!-- <param name="guid" type="string" value="305300013aa532"/> -->   <!-- (defaults to first camera on bus)-->
  <!-- <param name="video_mode" type="string" value="1024x768_mono8" />  -->   <!--format7_mode0 -->
  <param name="frame_id" type="string" value="Camera0"/>
  <param name="/camera/camera_info_url" type="string" value="file:///cameras/21111539.yaml"  />
  
  <param name="autoexposure" type="double" value="0"/>
  <param name="autogain" type="double" value="0"/>
  <param name="exposure" type="double" value="9745"/>
  <param name="gain" type="double" value="100"/>
  <param name="acquisitionmode" type="int" value="0"/>
  <param name="triggersource" type="int" value="0"/>
  <param name="softwarerate" type="double" value="30"/>
  

</launch>
