<launch>
  <param name="frame_id" type="string" value="Camera0" />
  
  <param name="autoexposure" type="double" value="0"/>
  <param name="autogain" type="double" value="0"/>
  <param name="exposure" type="double" value="16000"/>
  <param name="gain" type="double" value="200"/>
  <param name="acquisitionmode" type="int" value="0"/>
  <param name="triggersource" type="int" value="0"/>
  <param name="framerate" type="double" value="60"/>
  <param name="softwarerate" type="double" value="60"/>
  

</launch>
