<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the LEDPANELS                             -->
    <!--                                                            -->
    <!-- Enter the following command at a prompt to find the tty:   -->
    <!-- dmesg | grep tty | grep FTDI                               -->
    <!--                                                            -->
	<!-- ========================================================== -->

	<param name="ledpanels/radius" type="double" value="120.0"/>
	<param name="ledpanels/xpanels" type="int" value="24"/>
	<param name="ledpanels/ypanels" type="int" value="2"/>
	<param name="ledpanels/serialport" type="string" value="/dev/ttyUSB0"/>
	


</launch>
	
