<launch>

	<!-- ========================================================== -->
	<!-- Configuration of the camera attached to the racetrack.     -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch the racetrack.launch file, and point here          -->
    <!-- from there.                                                -->
	<!-- ========================================================== -->

	<include file="$(find racetrack)/launch/params_camera.launch" ns="camera" />
	<node pkg="camera_aravis" type="camnode" name="camera" />
	<node pkg="image_proc" type="image_proc" name="image_proc" ns="camera" />
  
</launch>
