<launch>
  <!-- =================================================================== -->
  <!-- This file contains both the Arena-Stage and Arena-Camera            -->
  <!-- transform data.                                                     -->
  <!-- =================================================================== -->

  <!-- =================================================================== -->
  <!-- Arena-Camera transform.                                             -->
  <!--                                                                     -->
  <!-- "roslaunch calibration CameraArena.launch"                          -->
  <!--                                                                     -->
  <!-- Use the following command to move the center and radius of the      -->
  <!-- circle to correspond to the arena:                                  -->
  <!-- rostopic pub -1 Joystick/Commands geometry_msgs/Point @@ dx dy dr   -->
  <!-- (where dx,dy,dr are replaced with numbers, and the @'s are hyphens) -->
  <!-- =================================================================== -->
  
  <!-- The mask circle in camera coordinates (i.e. pixels).    -->
  <param name="camera/mask/x" type="double" value="331"/>
  <param name="camera/mask/y" type="double" value="254"/>
  <param name="camera/mask/radius" type="double" value="237"/>  <!-- pixels -->

  <param name="calibration/checker_size" type="double" value="9.6" />



  <!-- These values come from CameraArena.launch, with a checkerboard on the arena. -->
  <param name="camera/arena_rvec_0" type="double" value="3.131" />
  <param name="camera/arena_rvec_1" type="double" value="-0.000" />
  <param name="camera/arena_rvec_2" type="double" value="0.021" />
  <param name="camera/arena_tvec_0" type="double" value="-1.957" />   <!-- -2.15 Adjust for camera/arena alignment here. -->
  <param name="camera/arena_tvec_1" type="double" value = "16.834" /> <!-- 17.42 Adjust for camera/arena alignment here. -->
  <param name="camera/arena_tvec_2" type="double" value="340.269" />
  

  <!-- ================================================================== -->
  <!-- Arena-to-Stage transform                                           -->
  <!-- where you align the computed end-effector position with the visual -->
  <!-- end-effector position.                                             -->
  <!--                                                                    -->
  <!-- "roslaunch calibration StageArena.launch"                          -->
  <!-- Then let it run until the "Translation Vector" and "Quaternion"    -->
  <!-- stabilize.  Then copy the translation & quaternion values to       -->
  <!-- the "args" below, e.g.  as:  tx,ty,tz,qx,qy,qz,qw                  -->
  <!--                                                                    -->
  <!-- ================================================================== -->
  
  <param name="stage/arena_x" type="double" value="0.30"/>  <!-- -0.2 Adjust for stage/arena alignment here. -->
  <param name="stage/arena_y" type="double" value="0.53"/>  <!-- -0.7 Adjust for stage/arena alignment here. -->
  <param name="stage/arena_z" type="double" value="0"/>
  <param name="stage/arena_qx" type="double" value="0.0"/>
  <param name="stage/arena_qy" type="double" value="0.0"/>
  <param name="stage/arena_qz" type="double" value="0.016"/>
  <param name="stage/arena_qw" type="double" value="0.998"/>


</launch>
