<launch>
  <param name="tracking/diff_threshold"     type="double" value="24"/>   			<!-- Adjust this based on light brightness, etc, to get good contours. -->
  <param name="tracking/dtForecast"         type="double" value="0.20"/>   			<!-- Account for time delay in computing the fly position. -->
  <param name="tracking/alphaBackground"    type="double" value="0.00001"/> 			<!-- Moving average for dynamic background. -->
  <param name="tracking/filenameBackground" type="string" value="/cameras/background.png"/>	<!-- Location of the initial background image. -->

</launch>
