<launch>
  <param name="tracking/filenameBackground"         type="string" value="~/background.png"/>       <!-- Location of the initial background image. -->
  <param name="tracking/diff_threshold"             type="double" value="18"/>                     <!-- Adjust this based on light brightness, etc, to get good contours. -->
  <param name="tracking/dtForecast"                 type="double" value="0.20"/>                   <!-- Time to forecast future fly states. -->
  <param name="tracking/rcBackground"               type="double" value="250000"/>                   <!-- Moving average for dynamic background. -->
  <param name="tracking/rcForeground"               type="double" value="2"/>                      <!-- Moving average for foreground objects (e.g. Fly1/image_mean). -->
  <param name="tracking/rcFilterAngle"              type="double" value="0.0"/>
  <param name="tracking/rcFilterFlip"          		type="double" value="1.5"/>
  <param name="tracking/speedThresholdForTravel"    type="double" value="5.0"/>
  <param name="tracking/areaContourMin"             type="double" value="4"/>
  <param name="tracking/roi/height"                 type="int" value="21"/>                        <!-- Size of the ROI of the fly.  Should be odd to allow for center pixel. -->
  <param name="tracking/roi/width"                  type="int" value="21"/>                        <!-- Size of the ROI of the fly.  Should be odd to allow for center pixel. -->
  <param name="tracking/offsetEndEffectorMax"       type="double" value="15.0"/>

  <!-- Wing detection params. -->  
  <param name="tracking/lengthBody"                 type="int" value="13"/>                        <!-- Fly body length in pixels. -->
  <param name="tracking/widthBody"                  type="int" value="6"/>                         <!-- Fly body width in pixels. -->
  <param name="tracking/thresholdBody"              type="double" value="60"/>                     <!-- Threshold for fly body mask creation. -->
  <param name="tracking/scalarMeanFlySubtraction"   type="double" value="1.5"/>                    <!-- Subtract this multiple of the fly mean image for wing detection. -->
  <param name="tracking/nStdDevWings"               type="double" value="4.0"/>                    <!-- Number of std devs the sum of wing pixels must differ from mean to count as a wing-extension. -->
  <param name="tracking/rcWingMean"                 type="double" value="10.0"/>                   <!-- Time constant of mean wing intensity. -->
  <param name="tracking/rcWingStdDev"               type="double" value="100.0"/>                  <!-- Time constant of stddev wing intensity. -->
  
</launch>
