<launch>
	<!-- ========================================================== -->
	<!-- Configuration of racetrack's motorarm.                     -->
    <!--                                                            -->
    <!-- Edit this file to describe the motor hardware.             -->
    <!--                                                            -->
    <!-- Don't launch this file directly.                           -->
    <!-- Launch racetrack.launch file, and point here from there.   -->
    <!--                                                            -->
	<!-- ========================================================== -->
    
	<param name="rosSimpleStep/velDefault" 	type="double" value="1.0" />               	<!-- Velocity to use when finding index, parking, etc. -->
	<param name="rosSimpleStep/limitHi" 	type="double" value="2147483647" />         <!-- Max absolute angle. -->
	<param name="rosSimpleStep/limitLo" 	type="double" value="-2147483646" />        <!-- Min absolute angle. -->
	<param name="robot_description"         textfile="$(find racetrack)/motorarm_urdf.xml" />	<!-- Contains 3D model of hardware. -->

	<param name="motorarm/speed_max"   		type="double" value="20"/>             		<!-- Millimeters per second of end effector. -->
	<param name="motorarm/L1"          		type="double" value="26"/>               <!-- Link1 length in millimeters. -->
	<param name="motorarm/angleOffset" 		type="double" value="-3.30"/>               <!-- Angle between the index switch and the 0 angle. -->
	<param name="motorarm/T" 		        type="double" value="0.02"/>               <!-- Time period of motor update. -->

<!--
	<param name="motorarm/kP"      			type="double" value="1.0"/>
	<param name="motorarm/kI"      			type="double" value="0.0"/>
	<param name="motorarm/kD"      			type="double" value="0.0"/>
	-->

	<param name="motorarm/kP"      			type="double" value="0.06"/>
	<param name="motorarm/kI"      			type="double" value="0.2"/>
	<param name="motorarm/kD"      			type="double" value="0.02"/>
	<param name="motorarm/kWindup" 			type="double" value="0.7"/>  
	<param name="motorarm/maxI"    			type="double" value="0.0"/>  
	
	<node name="joint1" pkg="rosSimpleStep" type="rosSimpleStep.py" args="--name='joint1' --id='0.0.0'"/>
</launch>

